body{
    background-color:#22333D ;
}
/* resister Page */
.login-form {
    background-color: #24353F;
}
h1{
    color: #17A2B8;
    line-height:48px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
}
.form-control{
    background-color: transparent;
    color: white;
}
.form-control:focus{
    background-color: transparent;
    color: white;
box-shadow: 0 0 0 0 rgb(13 110 253 / 25%) !important;
}
.main-div{
height: 100vh ;
}
nav{
    background-color:#22333D ;

}
.navbar-brand {
    font-size: 22px;
}
.btn-outline-warning:hover{
color: white !important;
}
